* {
    font-size: 10pt;
    font-family: "Roboto Condensed", sans-serif;
}

th {
    text-align: left;
}

td.num {
    text-align: right;
}

th.symbol {
    width: 4em;
}

tbody th {
    font-weight: normal;
}

th, td {
    padding: 2px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.2);
}

#table input {
    background: transparent;
    border: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    display: block;
    color: #ddd;
    max-width: 6em;
    width: 100%;
}

body {
    margin: 0;
    background: #262626;
    color: #ddd;
    height: 100vh;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "result result" "footer footer";
    align-items: stretch;
}

main.sidebar-visible {
    grid-template-areas: "coins result" "footer footer";
}

#table {
    overflow-y: auto;
    grid-area: coins;
    display: none;
    background:#1B1464;
}

main.sidebar-visible #table {
    display: block;
}

#result {
    grid-area: result;
    background: #6F1E51;
    background-size: 100% 70%;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    align-items: center;
}

#result .inner {
    flex: 1;
    color: #FFC312;
    text-align: center;
}

#result .percentage {
    font-size: 7vw;
    margin: 5rem;
}

#result .fiat {
    font-size: 3vw;
}

#loading {
    flex: 1;
    text-align: center;
    margin: 2em;
    font-size: 35px;
}

#settings {
    grid-area: footer;
    padding: 0.5em;
}

button#reload {
    background: transparent;
    border: 1px solid #C4E538;
    color: #C4E538;
}

button#reload.auto::before {
    content: "Auto";
}
